<div class="container-fluid">

  <h1 class="text-monospace text-uppercase text-success">Repositories.</h1>
  <section class="text-center d-inline-flex">
    <figure >
      <div class=" row ">
        <div class="card col-md-3 bg-dark text-light " *ngFor="let repos of repos">
          <div class="card-body card-text">
            <div class=" modal-header text-monospace text-bold">
              {{repos.name}}
            </div>

            <div>
              <p id="dec">
                {{repos.description}}
              </p>
            </div>

            <div class="card-footer">
              <a href="{{repos.html_url}}" class="text-align-center" target="_blank"
                 class="view btn btn-outline-success">View this project on github</a>

            </div>

          </div>
        </div>
      </div>
    </figure>


  </section>


</div>
